body {
  margin: 0;
  font-family: sans-serif;
}

.details {
  background-color: rgb(0, 0, 0, 0.9);
  margin: 1px auto;
  border-radius: 4px;
  padding: 10px 20px;
}

h1,
p {
  padding: 20px;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

#line {

  border-top: 10px lightblue double;
  clear: both;
  background: black;

}

.containernav {
  width: 80%;
  margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  height: 100px;
  width: 250px;
  position: relative;
  left: 20px;
  top: 2px;

}

nav {
  float: right;
  position: sticky;
  top: 20px;
  right: 70px;
  margin: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 55px;
  position: relative;
}

nav a {
  color: skyblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;

}

nav a:hover {
  color: skyblue;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}




.heading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -0);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;

  background: white;
}

.heading::after {
  content: '';
  background: black;
  border-bottom: 1px solid skyblue;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}




.payment {
  /******************************************************************
  This contains the font, Internet Explorer fall back options and 
  the background color for all of the sites
  ******************************************************************/

  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  /* IE Fallback */

  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

/******************************************************************
Below is the code for the red and blue button class which will be 
for all of the buttons in the program including the submit, next,
cancel, etc. 
******************************************************************/

.blueButton {
  -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background-color: #0088BB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #0088BB;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.blueButton:hover {
  background-color: #369cb8;
}

.blueButton:active {
  position: relative;
  top: 1px;
}

/******************************************************************
Below is the code for the confirm order page, it displays the material ID and cost of the order
******************************************************************/

.payment input[type=text] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  text-align: left;
}

.payment input[type=text]:focus {
  border: 1px solid #a8a8a8;
}


.payment {
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 40px;
  width: 40%;
  margin: 0 auto;
  border: 10px lightblue double;
  box-shadow: 1px 1px 5px #888888;
  background: rgb(0, 0, 0, 0.1);
}


/******************************************************************
Below is the form for the confirm order table 
******************************************************************/

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
  font-size: 30px;

  border: 10px lightblue double;
  clear: both;

}

.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0, 0, 0, 0.9), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.credit-card-box label {
  display: block;
}

/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}

.credit-card-box .display-tr {
  display: table-row;
}

.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.credit-card-box .panel-heading img {
  min-width: 180px;
}

.years {

  position: relative;
  left: 100px;
  top: -65px;

  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;

}


footer {
  border-top: 10px lightblue double;
  clear: both;
  background: black;
}

footer {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 97.3%;
}

.social-icon {
  margin: 20px 10px;
}

#h3color {
  color: #fff;
}

.credit {
  color: #fff;
}

.labelcolor {
  color: #fff;
}

.imgpayment {

  float: right;
}


#credit {
  height: 40px;
  width: 58%;
}

#expmon {
  height: 40px;
  width: 100px;

}

#year {
  height: 40px;
  width: 100px;
}

#paymentbg {
  background: rgb(0, 0, 0, 0.9);
}

.line {
  border-top: 10px lightblue double;
}
